@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

.panel:nth-of-type(5){
    display: none;
}

.panel{
    border: solid 1px rgb(67, 67, 67);
    position: relative;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 350px;
    /* width: 80%; */
    margin: .7em;
    border-radius: 50px;
    flex: 0.5;
    cursor: pointer;   
    transition: flex .7s ease-in;
}

.panel.active{
    flex: 5;
}
.panel h3, .panel-img{
    font-size: 20px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 20px;
    opacity: 0;
    transition: opacity .8s ease-in;
}
.panel.active h3{
    opacity: 1;
}
.panel-img{
    opacity: 1;
}


@media (max-width: 650px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }
  @media (max-width: 450px) {
   
    .panel:nth-of-type(2)
    .panel:nth-of-type(3)
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }