.card-graph > svg {
    /* height: 100%; */
    margin: auto;
    display: block;
  }
  
  path {
    stroke-linecap: round;
    stroke-width: 6;
  }
  
  path.grey {
    /* stroke: #2a2a2a; */
    stroke: var(--bg-path);
  }
  
  path.blue {
    stroke: url(#gradient);
    stroke-dasharray: 198;
    stroke-dashoffset: 198;
    animation: dash 30s ease-out forwards;
  }
  /* body{
    background-image: linear-gradient(#b073ff,#6f00ff);
    color: #6f00ff;
    color: #b073ff;
    ;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 1; /* <---- changed to "1" from "0" 
    }

   */