body{
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: var(--clr-primary) !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /* background-color: #151515 !important ; */
    background-color: var(--bg-primary) !important ;
    /* transition: all .2s ease-out; */
    background-size: 400% 400%;
    overflow-x: hidden !important;
      
  }

  html{
    scroll-behavior: smooth;
  }
:root{
  /* --bg-secondary:hsl(210deg 100% 92.84% / 73%); */

}
.wrap{
  padding:0 20px ;
}
.content-wrap{
  padding: 40px 20px ;
}
#home,#about,#education,#projects,#contact,#footer{
  overflow: hidden !important ;
}
@media(max-width:576px){
  .wrap{
    padding: 0 20px;
  }
  .content-wrap{
    padding: 40px 30px;
  }
  .card-icon img{
    /* width: 100%; */
    
  }
  .skill-container{
    padding-right:5px !important;
    padding-left:5px !important;
  }
}
@media(max-width:720px){
  .wrap{
    padding: 0 20px !important;
  }
  .content-wrap{
    padding: 40px 15px !important;
  }


}

@media(min-width:1100px){
  .wrap{
    padding: 0 100px !important;
  }
  .content-wrap{
    padding: 40px 100px !important;
  }
}

@media(min-width:1300px){
  .wrap{
    padding: 0 170px !important;
  }
  .content-wrap{
    padding: 40px 120px !important;
  }
}



/* --bs-breakpoint-xs: 0;
--bs-breakpoint-sm: 576px;
--bs-breakpoint-md: 768px;
--bs-breakpoint-lg: 992px;
--bs-breakpoint-xl: 1200px;
--bs-breakpoint-xxl: 1400px; */



a{
  text-decoration: none !important;
  color: var(--clr-primary) !important;

}

a:hover{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important ;
  background: var(--clr-icons);
}

ul{
  list-style: none;
}

.width100{
  width: 100%;
}
.width50{
  width: 50%;
}
.width10{
  width: 10%;
}
.width20{
  width: 20%;
}
.width30{
  width: 30%;
}
.width40{
  width: 40%;
}
.width70{
  width: 70%;
}
.width80{
  width: 80%;
}
.width90{
  width: 90%;
}
.float{
  float: left;
}

.hide{
  display: none;
}

.show{
  display: block;
  transition: 1000ms ease-in;
}

.expand{
  transition: 50ms ease-in;
}




/* ********* navbars ********* */
.header{
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: var(--bg-nav);
  -webkit-backdrop-filter:var(--bg-blur);
  backdrop-filter: var(--bg-blur);
  
  /* box-shadow: 1px 1px 1px rgb(215, 215, 215); */
}




.nav-ul,.nav-bt{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #ffffff;
-webkit-transition: 0.5s;
transition: 0.5s;
}
.row{
  padding: 5px 0;
}
.logo{
  display: inline-flex;
  align-items: center;
  
  justify-content: flex-start;
}

.nav-bar{
  color: #ffffff !important;
  width: 100%;
  display: inline-flex;

}

.nav-ul{
  width: 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center !important;
}
#check{
  display: none;
  float: left;
}

.nav-ul li a,
.nav-bt a{
  color: #ffffff ;
  font-weight: 500;
  
}

.nav-ul li a:hover{

  color: #c7c7c7 ;
  /* margin: 0 20px !important; */
}
.nav-link.active{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important ;
  background: var(--clr-icons);
}
a.active{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important ;
  background: var(--clr-icons);
}

.active{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important ;
  background: var(--clr-icons);
}

.nav-ul a:active{
  /* -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important ;
  background: var(--clr-icons); */

  color: red;
}

.nav-tools{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}


.navbtn{
    color: var(--clr-primary);
    position: relative;
    top: 0;
    /* right: 20px; */
    float: right;
    font-size: 30px;
    display: none !important;

}

.navbtn span{
    color:var() ;
}
.theme-switcher-nav{
  display: none ;
}
.theme-switcher{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
}


@media(max-width:780px){
  body{
    overflow-x: hidden !important;
  }
  
  .theme-switcher{
    display: none !important;
  }

  .theme-switcher-nav{
    display: flex !important;
  }
  .edu-img{
    position: relative !important;
  }
  .nav-bar{
    justify-content:flex-end !important;
    align-items: center;
  }
  .navbtn{
    display: flex !important;
  } 

  .nav-close-bt{
    display: none;
  }

  .nav-ul{
    display: block;
    top:62px;
    left: -120%;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: var(--bg-nav);
    -webkit-backdrop-filter:var(--bg-blur);
    backdrop-filter: var(--bg-blur);
    border-radius: 5px 0 0 5px;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }

  .nav-ul li{
    padding: 10px 0;
   }
   
  .nav-ul li:not(:last-child){
   border-bottom: solid 0.3px var(--nav-border-b);
  }

  #check:checked~.nav-ul{
    /* display: none; */
    background-color: var(--bg-nav-responsive);
    -webkit-backdrop-filter: var(--bg-blur);
    backdrop-filter: blur(20px) !important;
    left: 0;

  }

  #check:checked~.nav-close-bt{
    display: block !important;

  } #check:checked~.nav-open-bt{
    display: none !important;
  }


 
  div:has(.navbtn){
        
    align-items: center;
    justify-content: flex-end;
}
}
  









/* ********** home/ hero - section ********** */
#home{
  padding-top: 120px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top,center;
  /* background-color: rgb(74, 74, 0); */
  background-image: var(--bg-img1);
}

.hero-data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  /* *******typewriter********* */


.blue{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  background: var(--clr-icons);
}

.hero-text {
  /* height: 100vh; */
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
}

@media(min-width:768px){

  .hero-text{
    padding-top: 50px;
  }
}

.hero-text p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  overflow: hidden;
}
.hero-text p span.typed-text {
  font-weight: normal;
  /* color: #dd7732; */
  /* color: hsl(333deg, 100%, 52%); */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  /* background-clip: border-box; */
  background: var(--clr-hero);
  font-weight: 600;
}
.hero-text p span.cursor {
  display: inline-block;
  background-color: var(--bg-cursor);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.hero-text p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
 
  

.get-in-touch-items-wrapper{
  padding:50px 50px 50px 0;
  display: inline-block;
  /* background-image: url(../img/dark-gradient-home.svg); */
    background-repeat: no-repeat;
    background-position: top,left;
    background-size: cover;
 
}

.get-in-touch-items{
  display: flex ;
  flex-direction: column;
  /* border: solid red 1px; */
}



/* ********* social-icons ****** */

.social{
  padding-top: 0.3rem;
  display: inline-flex;
  gap: 5 !important;
}

.social-block{
  padding:2px 9px;
  border-radius: 50%;
  display: block;
  /* background-color: var(--bg-icon); */
  /* border: solid 1.5px rgb(255, 144, 144); */
  border:solid 2px var(--clr-social-border) !important;
  margin-right:6px !important;
  /* margin-left: 1px; */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  /* background-clip: border-box; */
  background: var(--clr-icons);

}

.social span{
  font-size: 25px;
  color: rgb(109, 109, 255);
}
.social-block:hover {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  /* font-size: 20px; */
  background: var(--clr-icons-hover);
}

@media(max-width:450px){
  .hero-text p{
    font-size: 30px !important;
  }
    
}

@media(max-width:768px){
  .hero-data{
    align-items: center;
    text-align: center;
  }
  .hero-text{
    text-align: center;
    align-items: center;
  }

  
}

/* ******* profile-image ****** */

.profile-image{
  border-radius: 50% 50% 15px 15px;
  overflow: hidden;
  /* margin-top: -33px; */
  /* background-image: url(../img/pictures/me.png); */
  background-position: top;
  background-size: cover;
  height: 450px;
  background-repeat: no-repeat;
  background-color: var(--bg-secondary);
  display: flex;
  filter: saturate(0);
  justify-content: center;
}

@media(max-width:780px){
  .profile-image{
    margin-top:15px;
  }
}


.profile-image div{}

/* ******* About ******* */

.about-container{
    background-color: var(--bg-secondary);
    border-radius: 30px;
    padding: 40px;
    position: relative;
    background-repeat: no-repeat;


    /* background-image: url(../img/dark-gradient-1.svg); */
    /* border: 3px solid #B4ADFF; */
    /* background-color: rgba(248,248,252,.8); */
    /* border: solid 1px --clr-primary; */
    /* box-shadow: 0 24px 32px rgba(0,0,0,.06); */

}

div >.address{
    border-right:solid 2px rgb(86, 86, 86);
}
.cv h5,
.address h5{
      -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    /* background-clip: border-box; */
    background: -webkit-linear-gradient(120deg, hsl(335.63deg 100% 50% / 99%), #ff8e1d);
}
.cv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cv-btn{
  margin-top: 5px !important;
  color: --clr-primary !important;
  padding:12px 20px ;
  background-color: var(--bg-primary);
  border-radius: 6px;
}
.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn-11:hover {
   background: #000;
  color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.cv-btn:hover,
.cv-btn:focus,
.cv-btn:focus-visible{
  background-color: rgb(40, 40, 40);
}

@media(max-width:767px){
    .address{
      
      border-bottom:solid 2px rgb(86, 86, 86);
      margin-bottom:25px;
      padding-bottom:25px;
    }
    div>.address{
      border-right: none;
    }


}
/* ********* Education ********* */

.education-container{
    background-color: var(--bg-secondary);
    border-radius: 30px;
    padding: 40px;
    position: relative;
}
#education{
  padding: 30px 0;
  /* background-image: url("../img/dark-gradient-education.svg"); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gradient-bg{

  background-image: url();
}


.edu-cards{
  display: flex;
  flex-direction: column;
}


.edu-card{
  margin-top: 60px;
  margin-bottom: 20px;
  
  /* background-color: #ffffff9c; */
  background-color: var(--bg-cards);
  padding: 20px 20px ;
  padding-left: 20px;
  border-radius: 26px;
  line-height: 1.5;
  font-family: 'JetBrains Mono', monospace;
  font-weight: normal;
  box-shadow: 0px 8px 16px -6px rgba(157 0 199 / 15%);
  position: relative;
  cursor: pointer;
}

.data-visible{
  /* display: flex; */
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.edu-img-main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edu-img{
  position: absolute !important; 
  /* top: -60px !important ; */

  
}

.edu-img-r-1{
  top: -60px !important ;
}
.edu-img-r-2{
  top: -30px !important ;
}
.edu-img-l-2{
  top: -50px !important ;
}



.edu-card h1{
  padding: 0;
  margin: 0;
  color: var(--clr-primary);
  font-size: 23px !important;
}
.edu-card h2{
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #7174B8 !important;
}

.edu-card .row{
  align-items: center;
}

.edu-text-align:nth-child(even){
  /* text-align: end; */
}

.arrow-hidden{
  display: none !important;
}


.rotate {
 
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.rotate.down {
  -moz-transform:rotate(180deg) !important;
  -webkit-transform:rotate(180deg) !important;
  transform:rotate(180deg) !important;
}

.icon-12{
  display: flex;
  justify-content: center;
}

@media(max-width:768px){
  .edu-text-align:nth-child(odd),
  .edu-text-align:nth-child(even){
    text-align: center;
  }

  .edu-img,.edu-img-r-1,.edu-img-r-2,.edu-img-l-2{
    position: relative !important;
    margin: auto !important;
    top: auto !important;
    padding: auto !important;
  }

  .arrow{
    display: none !important;
  }
  .arrow-hidden{
    display: flex !important;
  }
  .icon12{
    margin-top:15px !important;
  }
}


/* *********** skills - cards ********* */


.skill-container{
  background-image: var(--bg-skill);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size:100% ;
  min-height: 450px;

    /* height: fit-content;
    display: block; */
    /* background: #ff1111; */
    /* background-color: rgb(33 33 33 / 80%); */
    /* background-color: hsl(210deg 23.6% 12.87%); */
    background-color: var(--bg-secondary);



    /* border: 1px solid #ffffff; */
    border-radius: 30px;
    padding: 40px;
    position: relative;
}


.skill-card-wrapper{
    padding: 0px;
    margin-bottom: 30px;
    /* background-color: red; */
}

.skill-card{
    height: max-content;
  position: relative;
    width: 100%;
    /* left: 259px;
    top: 2617px; */
    padding: 20px;
    z-index: 10 !important ;
    background: var(--bg-dark-transparent);
    /* background-color: rgb(113 113 113 / 4%); */
    /* border: 1px solid rgb(255 255 255 / 11%); */
    backdrop-filter:var(--bg-blur);
    /* background-color: --clr-primary; */
    border:1.5px solid var(--clr-skill-border);

    border-radius: 21px;
    /* box-shadow: 0 5px 32px rgba(0,0,0,.06); */
}

.skill-card-content{
  z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--clr-primary);
    font-size: 20px;
    line-height: 23px;
    font-family:'JetBrains Mono','Monospace';
}

.card-icon{
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  padding: 10px;
}
.invert-img{
  filter: invert(1);
}
#modeimg{

}

@media(max-width:768px){
  .skill-card-content{
    font-size: 13px;
  }
}

/* *********** project ********* */

.project-container{
    background-color: var(--bg-secondary);
    border-radius: 30px;
    padding: 40px;
    position: relative;
}

.item{
  height: 250px;
  /* border-radius: 8px; */
  /* border: solid 2px var(--clr-skill-border); */
  /* background-color: rgb(79, 85, 255); */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  width: 100%;
}
.item img{
  height: 100%;
  /* width: 100%; */
  object-fit: fill;
  object-position: center;
}


/* *********** Contact ********* */

.center-wrap{
  align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.contact-height{
  height: 80%;
}
.contact-container{
  padding: 20px;
  width: 100%;
  /* border: 1px solid #4824ff; */
  /* background: #ffffff5b; */
  /* background-color: rgba(22 22 22 / 72%); */
  background-color: var(--bg-secondary);
  /* border-radius: 5px; */
  box-shadow:7px 7px 0px 0px #8000FF;
}
.cc-b{
  /* box-shadow:0px 7px 0px 0px #fd410d; */
  border-radius: 5px 0px 0px 5px ;
}
.cc-eb{
  box-shadow:7px 7px 0px 0px #8000FF;
  border-radius: 5px;
}

.contact-img{
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-img img{
  height: 100%;
  object-fit:contain;
}


.contact p{

}



.input,textarea{
  border: solid 1px var(--clr-input-border);
  /* background-color: #3e3e3e; */

  background-color: var(--bg-primary);
  color: var(--clr-input);

  border-radius: 10px;
  width: 100%;
  padding: 8px 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.input:hover,
textarea:hover{
  /* background-color: #f4e8ff6e; */
  border: solid 1px #bc79ff;
}

.input:focus,
.input:focus-visible,
textarea:focus,
textarea:focus-visible{
  outline: none;
  background-color: var(--bg-input-selected);
  border: solid 1px #bc79ff;

}

input[type=submit]{
  border-radius: 5px;
  padding: 5px 30px;
  border: none;
  text-align: center;
  /* background-color: #8000FF; */
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

input[type=submit]:hover,
input[type=submit]:focus-visible,
input[type=submit]:focus{
  background-color: var(--bg-input);
}

.contact-container .row{
  row-gap: 15px;
}

@media(max-width:767px){
  .contact-container .row div{
    text-align: center;
  }

 .wrapper{
    text-align: center !important;
  }
}

/* ********** map ********* */

.map-container{
  overflow: hidden;
  background-color: var(--bg-secondary);
  border-radius: 30px;
  padding:0 ;
  position: relative;
  background-repeat: no-repeat;
}

/* ********** footer ********* */
.footer-border{
  /* border: solid 0.5px rgba(71, 71, 71, 0.589); */
  border-radius: 30px;
  overflow: hidden;
}

#footer{
  background-image: url(../img/footer-gradient.svg) !important;
  background-repeat: no-repeat;
  background-position: bottom,center;
  background-size: cover;
}


.footer-container{
    background-color: var(--bg-secondary);
    border-radius: 30px;
    border: solid 0.7px var(--clr-footer-border);
    padding: 25px 10px 10px 10px;
    position: relative;
    margin-top: -50px !important;

    backdrop-filter: var(--bg-blur);
}

#footer h5{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important ;
    background: var(--clr-hero);
    /* background-color: #3c49ff !important; */
  
}

#footer li{
  line-height: 1.5;
}

.footer-contact span{
  color:#5b7eff;
}

.social{
  flex-wrap: wrap;
}

#footer .social .social-block{
  border: none;
  /* border:solid 2px rgba(255, 255, 255, 0.162) !important; */
}





.theme-light {
  --bg-primary:hsl(0, 0%, 100%) !important ;
  --bg-secondary:hsla(0, 0%, 96%, 0.52) ;
  /* --bg-secondary:hsla(209, 100%, 91%, 0.518) ; */
  --bg-secondary-1:rgb(33 33 33 / 80%) ;
  --bg-cards:rgba(255, 255, 255, 0.61);
  --bg-nav:rgba(255, 255, 255, 0.551);
  --bg-nav-responsive:rgba(255, 255, 255, 0.948);
  --bg-icon:rgba(0, 0, 0, 0.286);
  --bg-profile:#99c2ff;
  --bg-dark-transparent:rgba(255, 255, 255, 0.29);
  --bg-input:#3c1c86e3;
  --bg-input-selected:#ffffffe3;
  --bg-path:#ffffff;


  --bg-blur: blur(20px);
  --bg-cursor:#ff6464;
  --nav-border-b:rgb(255, 255, 255);

  --clr-primary:rgb(0, 17, 65);
  --clr-hero:-webkit-linear-gradient(45deg, hsl(333deg, 100%, 52%), #ff8a26);
  
  --clr-icons:-webkit-linear-gradient(199deg, hsl(182.77deg 100% 59.05% / 99%), #3c49ff);
  --clr-icons-hover:-webkit-linear-gradient(199deg, hsla(198, 100%, 76%, 0.99), #1a39e9);
  --clr-social-border:rgba(0, 0, 0, 0.162);
  --clr-skill-border:rgba(255, 255, 255, 0.47);
  --clr-input-border:rgba(233, 233, 233, 0.8);
  --clr-input:rgb(0, 0, 0);
  --clr-footer-border:#ffff;

  --bg-img1:url(../img/3d-gradient.svg);
  --bg-skill:url(../img/gradient-less-blur.svg);


}
.theme-dark {
  --bg-primary:hsl(210deg, 30%, 8%) !important ;
  --bg-secondary:hsla(210, 21%, 11%, 0.656) ;
  --bg-secondary-1:rgb(33 33 33 / 80%) ;
  --bg-cards:rgba(12, 12, 12, 0.61);
  --bg-nav:rgba(0, 0, 0, 0.551);
  --bg-nav-responsive:rgba(0, 0, 0, 0.966);
  --bg-icon:rgba(255, 255, 255, 0.286);
  --bg-profile:#99c2ff;
  --bg-dark-transparent:rgb(6 6 6 / 29%);
  --bg-input:#373737e3;
  --bg-input-selected:#000218e3;
  --bg-path:#f8f8f847;

  --bg-blur: blur(20px);
  --bg-cursor:#ff6464;
  --nav-border-b:rgb(33, 33, 33);

  --clr-primary:rgb(255, 255, 255);
  --clr-hero:-webkit-linear-gradient(45deg, hsl(333deg, 100%, 52%), #ff8a26);
  
  --clr-icons:-webkit-linear-gradient(199deg, hsl(182.77deg 100% 59.05% / 99%), #3c49ff);
  --clr-icons-hover:-webkit-linear-gradient(199deg, hsla(211, 100%, 35%, 0.99), #2dffea);
  --clr-social-border:rgba(255, 255, 255, 0.162);
  --clr-skill-border:rgba(108, 108, 108, 0.645);
  --clr-input-border:rgb(33 33 33 / 80%);
  --clr-input:rgb(255, 255, 255);
  --clr-footer-border:rgba(104, 104, 104, 0.689);

  --bg-img1:url(../img/3d-gradient.svg);
  --bg-skill:url(../img/dark-gradient-education.svg);

 


}

/* *****************/
/* ********theme***** */
/* ********** ******/

/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 35px;
height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #390094;
-webkit-transition: 0.4s;
transition: 0.4s;
}

.slider:before {
position: absolute;
content: "";
height: 22px;
width: 22px;
left: 0px;
bottom: 4px;
top: 0;
bottom: 0;
margin: auto 0;
-webkit-transition: 0.4s;
transition: 0.6s;
box-shadow: 0 0px 15px #8c8c8c3d;
background: white url('https://i.ibb.co/FxzBYR9/night.png');
background-repeat: no-repeat;
background-position: center;
background-size: fit-content;
}

input:checked + .slider {
background-color: #d6edff;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
-webkit-transform: translateX(24px);
-ms-transform: translateX(18px);
transform: translateX(18px);
background: rgb(255, 255, 255) url('https://i.ibb.co/7JfqXxB/sunny.png');
background-repeat: no-repeat;
background-position: center;
background-size: fit-content;

}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
