/* @media screen and (max-width: 1920px) {

} */

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 70px;
    }
    .user-name{
        display: none;
    }
    .header-2-cnt{
        padding: 0;
    }
    .header-2-cnt nav ul {
        position: fixed;
        left: 0;
        top: 0;
        height: 80vh;
        width: 100%;
        flex-direction: column;
        background: white;
        z-index: 9999;
        align-items: flex-start;
        padding-left: 10px;
        font-size: 20px;
        box-shadow: black 0px 1px 20px -8px;
        display: none;
    }

    .header-2-cnt nav ul.clicked{
        display: flex;
    }
    .header-2-cnt nav ul li {
        width: 96%;
        /* background: red; */
        border-bottom: solid 1px #c6c6c6;
        padding-bottom: 10px;
    }
    .user{
        height: 40px;
        gap: 20px;
    }
    .user .user-menu.clicked {
        display: block;
        bottom: 40px !important;
        top: initial;
        right: -10px;
        left: initial;
        width: 50vw;
        z-index: 9999;
    }
    /* .toggle-bt {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition: 0.3s ease-in-out;
        gap: 5px;
        z-index: 99999;
        position: relative;
    }
    .toggle-bt span{
        width: 15px;
        height: 8px;
        background: black;
    } */

    .more.status-icon {
        position: relative;
        z-index: 99999;
        display: block;
    }

    .search-suggestion {
        width: 70vw;
        left: -80px;
    }
    .suggest-thumb{
        width: 35px;
        height: 35px;
    }

    .buy-btn{
        flex-direction: column;
    }

     /* cart-page */
     .cart-summary{
        position: fixed;
        bottom: 0px;
        height: max-content;
        top: unset;
        margin: 0;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: #00000033 -1px -2px 18px -11px;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
    }
    .cart-products .cart-product-info{
        flex-wrap: wrap;
    }
    .cart-product-actions{
        width: 100%;
    }
    .ftr-margin{
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 575px) {
    .login-form {
        height: calc(100vh - 80px);
    }
    .cart-summary{
        bottom: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 9999;
    }
    .cart-summary {
        h5,
        .total-items{
            display: none;
        }
        .total-price{
            margin: 0;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            border: none;
        }
    }
    
    .featured-products .product .product-img{
        height: 200px;
    }

    .header-cnt .others {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: white;
        height: 50px;
        box-shadow: #00000029 1px 0px 20px 0px;
        justify-content: space-around;
        flex-direction: row-reverse;
    }
    .header-cnt .others.product-template{
        display: none;
    }


    .scroll-top{
        bottom: 52px;
        display: none !important;
    }

    #banner .banner-img{
        height: 300px;
    }


    .category-circle{
        height: 125px;
    }
    .search-suggestion {
        width: 100vw;
        left: -139px;
    }
    .buy-btn{
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 6px;
        z-index: 999;
        background: white;
        padding-top: 0px;
        box-shadow: #000000ba -3px -1px 6px -5px;
        flex-direction: row;
    }

   

}

@media screen and (max-width: 424px) {
    
}

@media screen and (max-width: 374px) {
    
}




@media screen and (min-width: 768px) {
    .user:hover .user-menu {
        display: block;
    }

    .user:hover .user-menu {
        display: block;
        /* bottom: 40px !important;
        top: initial;
        right: -10px;
        left: initial;
        width: 50vw;
        z-index: 9999; */
    }
}